body{

    font-size:18px;

    transition:0.3s;

}


h1{

    font-size:40px;

}


h2{

    font-size:32px;

}


h3{

    font-size:25px;

}


p{

    font-size:20px;

}



/* ALTO CONTRASTE */

.alto-contraste{

    background:black;

    color:white;

}


.alto-contraste .card{

    background:#111;

    color:white;

    border:2px solid white;

}


.alto-contraste h1,
.alto-contraste h2,
.alto-contraste h3{

    color:yellow;

}