body {

    font-family: Arial, sans-serif;

    transition: 0.3s;

}


.barra-acessibilidade {

    background:#2c3e50;

    padding:10px;

    text-align:center;

}


.barra-acessibilidade button {

    margin:5px;

    padding:8px 15px;

    border:none;

    border-radius:5px;

    cursor:pointer;

    font-weight:bold;

}



.imagem-acessibilidade {

    width:150px;

}



.card {

    height:100%;

    transition:0.3s;

}



.card:hover {

    transform:scale(1.05);

}



footer {

    background:#f1f1f1;

    text-align:center;

    padding:20px;

}



/* Alto contraste */

.alto-contraste {

    background:black;

    color:white;

}



.alto-contraste .card {

    background:#222;

    color:white;

    border:1px solid yellow;

}



.alto-contraste footer {

    background:black;

    color:white;

}